
body{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
}

.text{
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
}

.question{
    font-size: 3rem;
}


.button{
    cursor: pointer;
}
 .btn-hover {
    color: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out, visibility 0s;
    -o-transition: all .4s ease-in-out, visibility 0s;
    -webkit-transition: all .4s ease-in-out, visibility 0s;
    transition: all .4s ease-in-out, visibility 0s;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out, visibility 0s;
    -o-transition: all .4s ease-in-out, visibility 0s;
    -webkit-transition: all .4s ease-in-out, visibility 0s;
    transition: all .4s ease-in-out, visibility 0s;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #5165be, #5c3481, #4166b2, #671ea6);
    box-shadow: 0 4px 15px 0 rgba(86, 58, 126, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #db45f2);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}



.next{
    width: 6rem;
    padding: 1rem 4rem;

    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.words{
    width: 15rem;
    padding: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    }

#word1 {
    background-color: rgb(48,0,89);
}

#word2 {
    background-color: rgb(71,0,112);
}

#word3{
    background-color: rgb(60,0,80);
}







input[type="range"]{
  -webkit-appearance:none;
  background: linear-gradient(to right, #3427ab, #b839c7);;
  border-radius: 30px;
  overflow:hidden;
  outline: none;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
    height: 1.4rem;
    width: 4rem;
  background: white;
    border-radius: 20px;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  position:absolute;
  z-index:1;
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}





#image{
    border-radius: 30px;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.title{
    color: white;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.35rem;
}





